<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <template>
          <v-form>
            <v-text-field v-model="project" label="project"></v-text-field> 
            <v-text-field v-model="hours" label="hours"></v-text-field> 
            <v-text-field v-model="description" label="description"></v-text-field> 
            <v-btn @click="submit">Log Time</v-btn>
          </v-form>
        </template>
        <v-data-table
          :headers="headers"
          :items="timeEntries"
          >
          <template slot="items" slot-scope="props">
            
              <td>{{ props.item.project }}</td>
              <td>{{ props.item.hours}}<td>
              <td>{{ props.item.description }} </td>
          </template>
        </v-data-table>
        <table>
        </table>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import Init from '../Init.vue';
export default {
  name: 'HelloWorld',
  props: ['time-entries'],
  data: () => ({
    project: '',
    description: '',
    hours: '',
    headers: [
      {
        text: 'Project Name',
        value: 'props.timeEntries.project',
      },
      {
        text: 'Hours',
        value: 'hours',
      },
      {
        text: 'Description',
        value: 'description',
      },
    ],
  }),
  methods: {
    submit() {
      this.$store.dispatch('timeentries/logTime', {
        project: this.project,
        description: this.description,
        hours: this.hours,
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
