<template>
  <v-app>
        <v-toolbar
      app
      :clipped-left="clipped"
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>
      <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>web</v-icon>
      </v-btn>
      <v-btn icon @click.stop="fixed = !fixed">
        <v-icon>remove</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>menu</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <HelloWorld :time-entries="timeEntries"/>
    </v-content>
        <v-footer :fixed="fixed" app>
      <span>&copy; 2018, Zach Russell</span>
    </v-footer>
  </v-app>

</template>

<script>
import store from './store';
import Init from './Init.vue';
import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',
  components: {
    HelloWorld,
    Init,
  },
  created() {
    this.$store.dispatch('timeentries/get');
  },
  computed: {
    timeEntries() {
      return this.$store.state.timeentries;
    },
  },
  data() {
    return {
      title: 'VueJS Time Tracker',
    };
  },
};
</script>
