<template>
  <div>
    <button @click="init">Initialize app base state</button>
    <button @click="get">Get</button>
  </div>
</template>
<script>
export default {
  name: 'Init',
  methods: {
    init() {
      this.$store.dispatch('timeentries/get');
    },
    get() {
      this.$store.dispatch('timeentries/get');
      // todo
    },
  },
};
</script>
<style>
</style>
